/* Reset Default */

* {
    box-sizing: border-box;
    font-weight: lighter;
    color: white;
}


/* Input html-type-number formatting to remove dropdown */

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}


/* Main Container */

.calc-container {
    position: absolute;
    top: 10%;
    left: 35%;
    width: 22.5%;
    height: 450px;
    /* outline: 1px solid; */
}


/* Close Minimize and Maxizimize Button container inside main container */

.btn-container {
    display: flex;
    flex-direction: flex-start;
    background-color: rgb(86, 87, 90);
}


/* Close Minimize and Maxizimize Button container  buttons*/

.calc-container-btn {
    margin: 0.25em 0 0 0.75em;
    padding: 1em 0.5em 0;
    display: block;
    border: none;
    border-radius: 50%;
    outline: none;
}

.btn-red {
    align-self: flex-start;
    background: rgb(237, 101, 90);
}

.btn-yellow {
    background: rgb(225, 193, 76);
}

.btn-green {
    background: rgb(112, 186, 69);
}


/* Input within the main container */

.calc-container-input {
    outline: none;
    margin: 0;
    width: 100%;
    border: none;
    font-size: 2.5em;
    text-align: end;
    background-color: rgb(86, 87, 90);
    color: white;
}


/* Calculator buttons container within main container */

.input-btn-container {
    width: 100%;
    height: 86%;
}

.row1,
.row2,
.row3,
.row4,
.row5 {
    width: 100%;
    height: 25%;
    display: flex;
    text-align: center;
}

.input-btn-container-btns {
    margin: 0;
    display: block;
    padding: 1rem 0.5rem;
    width: 25%;
    font-size: 1.25em;
    font-weight: normal;
    background: rgb(127, 128, 130);
}

.btn0 {
    width: 50%;
}

.top-row {
    background-color: rgb(102, 101, 98);
}

.operator {
    background-color: rgba(255, 149, 0, 0.8);
}